/* body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  place-content: center;

  min-width: 400px;
  max-width: 600px;
  height: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
}

/* Header */

.app-title {
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(199, 25, 184), rgb(1, 17, 32));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-msg {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* min-height: 100px; */
  padding: 1rem 0;
  display: grid;
  place-content: center;
}
.welcome-msg:hover {
  transition: 0.2s;
  color: rgb(27, 4, 4);
  font-size: 25px;
}

.main {
  width: auto;
  height: auto;
  display: grid;
  gap: 1rem;
  padding-top: 0.5rem;
}

.background-image {
  display: grid;
  width: 400px;
  height: 250px;
}
.last-wrapper {
  display: inline-block;
  grid-template-rows: auto;
  gap: 1rem;
  min-height: 100px;
}
li {
  list-style: none;
}

.signin-btn {
  border: none;
  background: -webkit-linear-gradient(rgb(23, 104, 77), rgb(2, 7, 12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-height: 100px;
  font-size: 30px;
}
.signin-btn:hover {
  transition: 0.2s;
  font-size: 35px;
}
.register-btn {
  border: none;
  background: -webkit-linear-gradient(rgb(23, 104, 77), rgb(2, 7, 12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-height: 100px;
  font-size: 30px;
}
.register-btn:hover {
  transition: 0.2s;
  font-size: 35px;
}
.navbar {
  display: grid;
}
.nav-list {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 2rem;
  list-style: none;
  border: 1px solid black;
  /* margin: 0 4rem; */
}

/* MODALS */
.modal-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(9, 12, 15, 0.8);
  display: grid;
  place-items: center;
}
.modal-container {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  gap: 1rem;
  width: 300px;
  height: auto;
  display: grid;
  justify-content: center;
}
.close-btn {
  position: absolute;
  top: -18px;
  right: -13px;
  border-radius: 5px;
  padding: 6px;
  background-color: rgb(15, 15, 15);
  color: white;
  cursor: pointer;
}
.modal-container form {
  display: grid;
  gap: 1rem;
  place-items: center;
  justify-content: center;
  border-radius: 5px;
}
.modal-container button {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
  border: none;
}
.modal-container input {
  display: grid;
}
.sign-in-form {
  display: grid;
  padding: 1rem;
  font-size: 25px;
  font-weight: bold;
}

.scroll-area {
  min-height: 300px;
}

/* My Conversations */

.conversation-wrapper {
  display: grid;
  min-width: 400px;
  padding: 1rem;
  gap: 1rem;
}
.my-conversations {
  font-size: 20px;
  height: 30px;
}

.ul-conversation {
  display: grid;

  grid-template-rows: 50px auto;
  gap: 0.6rem;
}

.user-section {
  display: grid;
  grid-template-columns: 50px 150px;
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
/* My contact */
.contact-wrapper {
  display: grid;
  min-width: 400px;
  padding: 1rem;
  gap: 1rem;
}
.ul-contact {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.6rem;
}
.list-contact {
  display: grid;
  grid-template-columns: 70px auto;
  /* justify-content: start; */
  align-items: center;
  border: 1px solid rgba(175, 172, 172, 0.534);
  border-radius: 10px;
  box-shadow: 5px 5px rgba(240, 248, 240, 0.658);
}

.image-contact {
  border-radius: 50%;
  width: 70px;
}
.extra-class-list {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: lighter;
}
.conversation-messages {
  height: 400px;
  overflow-y: scroll;
  display: grid;
  gap: 1rem;
 
}

.text-message {
  display: grid;
  width: 500px;
  grid-template-columns: 150px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.7rem;
}

.outgoing {
  display: grid;
  height: 50px;
  grid-template-columns: 100px 150px 350px;
  border-radius: 50%;
  justify-items: end;
  place-items: center;

}

.incoming {
  display: grid;
  height: 60px;
  grid-template-columns: 300px;
  place-content: center;
  justify-content: start;
  /* border: 1px solid black; */

  /* background-color: rgb(98, 98, 224); */
}
.user-image-message {
  display: grid;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(207, 200, 200);
}
/* .message-content{
  background-color: brown;
} */

.message-form{
  display: inline-flex;
 
}
.message-place{
display: grid;
place-items: center;
justify-items: center;
border: 3px solid grey;
width: 400px;
padding: 0.2rem;
border-radius: 20px;
}
